.nav-wrapper {
    display: flex;
    justify-content: space-around; 
    background-color: #09520f; 
    padding: 1rem;
}
.nav-wrapper li {
    margin: 0 10px;
}

.nav-wrapper a {
    color: white; 
    text-decoration: none;
    font-size: 15px; 
    transition: color 0.3s; 
}